### Extracting Data Fields from a PDF

In [19]:
#Importing the library
import PyPDF2
import pandas as pd
import re

In [4]:
#Creating PDF object
pdfFileObj = open(r"F:\PyData Proposal\New folder\creditcard.pdf",'rb')

In [5]:
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)

In [6]:
pageObj = pdfReader.getPage(0)

In [7]:
# extracting text from page 
txt = pageObj.extractText()
txt

"Credit Card informationPayment due on: 27 JUL 2007Jim Smith123 Cherry Lane st.956004 Marietta.Atlanta / GADateDescriptionBonusAmount24 JUN 2007 07:12Shell Marietta - Marie's$0.99$64.1025 JUN 2007 17:55Downson's Market - Atlanta$0.59$87.2225 JUN 2007 09:22KMART - GA$0.80$106.902 JUL 2007 18:12Florida Shadow Hotel$1.25$90.003 JUL 2007 21:12Cafe de'Orient - FL$0.02$12.203 JUL 2007 12:54Yuen Shirts$1.01$59.1010 JUL 2007 08:10Delta Airlines$2.00$120.0011 JUL 2007 19:01Publix - Marietta$0.40$82.9913 JUL 2007 08:11Jiffy Lube$0.10$40.2015 JUL 2007 07:40Starbucks Roswell Road$0.04$8.10TOTAL AMOUNT$7.20$670.81Customer Number12302139Card Number112321***3Card Limit1500Pay Date27 JUL 2007Amount$670.81"

In [8]:
# closing the pdf file object 
pdfFileObj.close()

##### Extracting Pay Date

In [10]:
def extract_pay_date(txt):
    pay_date = re.findall('due\s*on\s*:\s*([0-9]{2}\s*[A-z]+\s*[0-9]{4})', txt)[0]
    return pay_date

##### Extracting Customer Number

In [12]:
def extract_cust_num(txt):
    cust_num = re.findall('Customer\s*Number\s*([0-9]+)',txt)[0]
    return cust_num

##### Extracting Amount Due

In [13]:
def extract_amt(txt):
    amt = re.findall('Amount([$0-9.]+)',txt)[1]
    return amt

##### Extracting Credit Card Limit

In [14]:
def extract_card_lim(txt):
    card_lim = re.findall('Card\s*Limit([0-9]+)',txt)[0]
    return card_lim

##### Extracting Card Number

In [15]:
def extract_card_num(txt):
    card_num = re.findall('Card\s*Number([0-9*]+)',txt)[0]
    return card_num

##### Extracting Customer Name

In [16]:
def extract_name(txt):
    date = extract_pay_date(txt)
    name = re.findall('%s([A-z\s*]+)'%date,txt)[0]
    return name

##### Appending extracted values in a list

In [17]:
name, card_num, card_lim, amt, cust_num, pay_date = ([] for i in range(6))

In [20]:
name.append(extract_name(txt))
card_num.append(extract_card_num(txt))
card_lim.append(extract_card_lim(txt))
amt.append(extract_amt(txt))
cust_num.append(extract_card_num(txt))
pay_date.append(extract_pay_date(txt))

##### Creating a dictionary

In [21]:
d = {
    'Customer Name': name,
    'Card Number': card_num,
    'Card Limit': card_lim,
    'Amount Due': amt,
    'Customer Number': cust_num,
    'Pay Date': pay_date
}

##### Creating the final Dataframe

In [22]:
pd.DataFrame(d)

  Amount Due Card Limit Card Number Customer Name Customer Number     Pay Date
0    $670.81       1500  112321***3     Jim Smith      112321***3  27 JUL 2007